

#
# /*
# --------------------------------------------------------------------------
#                         .gitignore                                      || 
# --------------------------------------------------------------------------
#
# tell Git which files and directories to ignore when you make a commit .
#  
#   ------------------------------------
#  |       ! Few Matching Pattern        |
#   ------------------------------------
#
#   * is used as a wildcard match
#   / is used to ignore pathnames relative to the .gitignore file
#   # is used to add comments to a .gitignore file
#
#*/
#


/vendor/
